<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-nav-list>

      <button class="menuBarButton" mat-button [matMenuTriggerFor]="patternMenu">Select Pattern</button>
      <mat-menu #patternMenu="matMenu">
          <button (click)="selectPattern(pattern)" *ngFor="let pattern of patternService.patterns" mat-menu-item>{{pattern.name}}</button>
        </mat-menu>

      <a mat-list-item href="#">Upload Pattern</a>
      <a mat-list-item href="#">Download Pattern</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Juggling Passing Causal Diagrams</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    
  <app-diagram-card></app-diagram-card>
  </mat-sidenav-content>
</mat-sidenav-container>
