/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

svg {
	height: 70vh;
	width: 100%;
}

.causalBgRect {
    fill: #ffffff;
}

.causal_beat_circle {
	fill: yellow;
	stroke: green;
	stroke-width: 4;
}

.causal_arrow {
	fill: #000;
}

.causal_pass_line {
	stroke: #000;
	stroke-width: 4;
}

.causal_border {
	/*stroke-opacity:0;*/
	stroke-width: 1;
	stroke: #000;
}